.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;

  @include breakpoint(large){
    #hero{
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.gallery{
  @extend %background-yellow;
  @include clearfix;
  position: relative;
  border-top: 6px solid $dark-yellow;
  border-bottom: 6px solid $dark-yellow;
  padding: 24px 0;
  min-height: 232px;
  ul{
    @include clearfix;
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      @extend %pull-left;
      margin-right: 50px;
      border-radius: 4px;
      border: 2px solid rgba($white, 0.2);
      &:last-child{
        margin-right: 0;
      }
    }
  }
  img{
    border-radius: 4px;
    padding: 7px;
    background: $dark-yellow;
  }
}

.controls{
  // @include clearfix;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  z-index: 0;
  @include breakpoint(large){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn-prev a,
.btn-next a{
  @extend %display-block;
  @include box-shadow(rgba($white, .4) 0 1px 2px 0, rgba($gray, .6) 0 0 4px 0 inset);
  overflow: hidden;
  // border: 2px solid rgba($gray, .2);
  border-radius: 50%;
  width: 50px;
  height: 0;
  padding-top: 50px;

  @include breakpoint(large){
    width: 30px;
    padding-top: 30px;
  }

}
.btn-prev a{
  @extend %pull-left;
  background-color: #a07a22;
  background-position: 13px center;

  @include breakpoint(large){
    background-size: 40%;
    background-position: 8px center;
  }
}
.btn-next a{
  @extend %pull-right;
  background-color: #a07a22;
  background-position: 17px center;

  @include breakpoint(large){
    background-size: 40%;
    background-position: 10px center;
  }
}

#ten-sanc-gallery, #jay-gallery, #tobias-gallery, #fierto-gallery, #dave-gallery{
  @include opacity(0);
  width: 1715%;
}
