body{
  @extend %background-gray;
  font-family: $base-font-family;
}
header{
  @include box-shadow(0 0 20px $gray);
  width: 100%;
  position: fixed;
  z-index: 1;
}
main{
  padding-top: 70px;
}
footer{
  @include clearfix;
  @extend %color-gold;
  @include font-size(24px);
  h4, p{
    @extend %margin-0;
  }
  h4{
    margin-bottom: 10px;
  }
  address{
    font-style: normal;

  }
  padding: 60px 0;
  iframe{
    @extend %pull-left;
    margin-right: 40px;
    border: 4px solid $gold;
  }
  .social{
    margin-top: 20px;
    a{
      @extend %display-block;
      @extend %pull-left;
      @include opacity(.8);
      overflow: hidden;
      width: 32px;
      height: 0;
      padding-top: 32px;
      margin-right: 10px;
      &.facebook{
        background: url(../images/svg/facebook-gold.svg) no-repeat;
      }
      &.instagram{
        background: url(../images/svg/instagram-gold.svg) no-repeat;
      }
      &.twitter{
        background: url(../images/svg/twitter-gold.svg) no-repeat center center;
      }
    }
  }
}

#hero h1{
  text-align: center;
  padding-top: 24px;
  img{
    @extend %display-inline-block;

    @include breakpoint(medium){
      width: 80%;
    }
  }
}
#hero{
  @include box-shadow(rgba($gray, .8) 0 6px 20px 10px inset);
  background: url(../images/bg-laces.jpg) repeat-x 0 0;

  @include breakpoint(medium){
    @include box-shadow(rgba($gray, .8) 0 4px 10px 6px inset);
    background-position: 0 -12px;
  }
}

#about{
  background: url(../images/shop-interior.jpg) no-repeat center center;
  background-size: cover;
  h1{
    @include font-size(68px);
    letter-spacing: 2px;
    font-weight: 900;
    color: #f4e9d0;
    text-shadow: 0 4px 4px $gray;
    padding: 120px 0;

    @include breakpoint(large){
      padding-left: 30px;
      padding-right: 30px;
    }
    @include breakpoint(medium){
      @include font-size(48px);
    }
    @include breakpoint(small){
      @include font-size(28px);
      padding: 60px 30px;
    }
  }
}


.artist{
  @include clearfix;
  background: url(../images/bg-paper.jpg) center top;
  > .container{
    @include clearfix;
    padding: 40px 30px;
  }
  figure{
    @extend %pull-left;
    background: url(../images/bg-avatar-ring.png) no-repeat center center;
    float: left;
    width: 42%;
    height: 440px;

    img{
      border-radius: 50%;
      margin: 90px 0 0 105px;
    }
  }
  .content{
    @extend %pull-left;
    position: relative;
    width: 58%;
    padding-left: 60px;
  }
  h1{
    @extend %color-gold;
    @include font-size(60px);
    font-weight: 800;
    text-shadow: 0 1px 1px $gray;
    text-transform: uppercase;
    margin: 20px 0 0 0;
  }
  p{
    @include font-size(18px);
    line-height: 32px;
  }
  .contact{
    @include clearfix;
    margin-top: 40px;
    ul{
      @extend %pull-left;
      margin: 0 24px 0 0;
      padding: 14px 24px 14px 0;
      list-style: none;
      border-right: 1px solid $gold;
      li{
        @extend %display-inline-block;
        padding: 0 4px;
      }
    }
  }
  .social{
    a{
      @extend %display-block;
      @include opacity(.8);
      overflow: hidden;
      width: 32px;
      height: 0;
      padding-top: 32px;
      &.facebook{
        background: url(../images/svg/facebook.svg) no-repeat;
      }
      &.instagram{
        background: url(../images/svg/instagram.svg) no-repeat;
      }
      &.twitter{
        background: url(../images/svg/twitter.svg) no-repeat center center;
      }
    }
  }
  .info{
    @extend %margin-0;
    @extend %pull-left;
    @include font-size(16px);
  }
}

#aftercare{
  background: url(../images/bg-paper.jpg) center top;
  border-bottom: 20px solid $gold;
  h1{
    @extend %color-gold;
    @extend %margin-0;
    @extend %pull-left;
    @include font-size(60px);
    width: 60%;
    font-weight: 800;
    text-shadow: 0 1px 1px $gray;
    text-transform: uppercase;
  }
  .container{
    @include clearfix;
    padding: 40px 0;
  }
  ol{
    @extend %margin-0;
    @extend %pull-left;
    @include font-size(18px);
    width: 60%;
    li{
      margin-bottom: 20px;
    }
  }
  img{
    @extend %pull-right;
    margin-top: -100px;
  }
}


