@import "normalize";
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  background: #0f0f0f;
  font-size: 100%;
  font-family: "adelle", Helvetica, Arial;
}

header{
  background: url(../images/bg-top.jpg) no-repeat center 0;
  margin: 30px 0 80px 0;
  height: 60px;
  width: 100%;
}
footer{
  background: url(../images/bg-bottom.jpg) no-repeat center 0;
  margin: 80px 0 30px 0;
  height: 60px;
  width: 100%;
}
#main{
  @extend .cf;
  max-width: 1200px;
  margin: 0 auto;
}
.sidebar{
  float: left;
  // margin: 0 40px;
  width: 60%;
  .logo{
    margin-left: 40px;
  }
  p{
    float: left;
    color: #edb635;
    margin: 20px 0 20px 100px;
    &.social{
      float: right;
      margin: 10px 100px 0 0;
    }
  }
  .map{
    color: #0f0f0f;
    background-color: #edb635;
    border-radius: 3px;
    padding: 4px 10px;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    &:hover{
      background-color: rgba(#edb635, 0.8);
    }
  }
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
.content{
  float: left;
  width: 40%;
  padding: 0 40px;
}
h1{
  font-weight: 400;
  color: rgba(white, .7);
  font-size: 24px;
  line-height: 36px;
  margin-top: 100px;
}
h2{
  color: #edb635;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.facebook{
  background: url(../images/btn-facebook.png) no-repeat;
  display: inline-block;
  width: 40px;
  height: 0;
  padding-top: 40px;
  overflow: hidden;
}
.twitter{
  background: url(../images/btn-twitter.png) no-repeat;
  display: inline-block;
  width: 40px;
  height: 0;
  padding-top: 40px;
  overflow: hidden;
}


