.icon-facebook-gold { background-image: url(../images/facebook-gold.png); background-repeat: no-repeat; }

.icon-facebook { background-image: url(../images/facebook.png); background-repeat: no-repeat; }

.icon-instagram-gold { background-image: url(../images/instagram-gold.png); background-repeat: no-repeat; }

.icon-instagram { background-image: url(../images/instagram.png); background-repeat: no-repeat; }

.icon-next-arrow a { background-image: url(../images/next-arrow.png); background-repeat: no-repeat; }

.icon-prev-arrow a { background-image: url(../images/prev-arrow.png); background-repeat: no-repeat; }

.icon-twitter-gold { background-image: url(../images/twitter-gold.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(../images/twitter.png); background-repeat: no-repeat; }
