// Colors
$light-yellow: #fada91;
$yellow: #fabc2c;
$gray-yellow: #332917;
$dark-yellow: #5b481d;

$gold: #ab794a;

$white: #fff;
$gray: #131313;
$black: #000;

$proxima: "proxima-nova", Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;


$base-font-family: $proxima !default;
$base-font-size: 16px; // Override default set in Compass' Vertical Rhythm partial.
$base-line-height: 27px; // Override default set in Compass' Vertical Rhythm partial.
