$border-box: true !default;

@if ($border-box == true) {
  * {
    @include box-sizing(border-box);
  }
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
